In [9]:
import requests
from pandas import Series, DataFrame

In [3]:
r = requests.get("https://tyler.caraza-harter.com/nums.json")

In [14]:
r.text[-1]

'\n'

In [37]:
d = {'1':"one", 2:"two", 3:"three"}
d[-1]

KeyError: -1

In [10]:
s = Series([5,6,7,8])

In [19]:
s[:3] + s[-3:]

0     NaN
1    12.0
2    14.0
3     NaN
dtype: float64

In [21]:
s[-3:]

1    6
2    7
3    8
dtype: int64

In [22]:
s[:3]

0    5
1    6
2    7
dtype: int64

In [24]:
df = DataFrame({     "year": [2015, 2016, 2017, 2018],     "cats": [20, 15, 10, 12],     "dogs": [30, 15, 15, 18], }) 
df["next"] = df["year"] + 1
df.set_index("year")["dogs"] - df.set_index("next")["dogs"]

2015     NaN
2016   -15.0
2017     0.0
2018     3.0
2019     NaN
Name: dogs, dtype: float64

In [12]:
s - s[s < 8].mean()

0   -1.0
1    0.0
2    1.0
3    2.0
dtype: float64

In [13]:
s[s < 8].mean()

6.0

In [15]:
letters = Series(["W", "X", "Y", "Z"], index=[3, 2, 1, 0])

In [16]:
letters[1]

'Y'

In [17]:
letters.loc[1]

'Y'

In [18]:
letters.iloc[1]

'X'

In [25]:
df = DataFrame({
"A": [1, 2], "B": [2, 1], "x": [3, 7]
})
delta = df.set_index("A")["x"] - df.set_index("B")["x"]

In [26]:
delta

1   -4
2    4
Name: x, dtype: int64

In [27]:
df

   A  B  x
0  1  2  3
1  2  1  7

In [48]:
s

0    5
1    6
2    7
3    8
dtype: int64

In [29]:
s.loc[2]

7

In [30]:
f = open("file.txt")
txt = f.read()
parts = txt.split("\n")
print(parts[1].split(" ")[1])
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'file.txt'

In [46]:
s[3]

8

In [49]:
s.loc[:-1]

Series([], dtype: int64)

In [34]:
d

{1: 'one', 2: 'two', 3: 'three'}

In [38]:
d = Series(d)

In [39]:
d

1      one
2      two
3    three
dtype: object

In [40]:
d['1']

'one'

In [41]:
d[:'1']

1    one
dtype: object

In [42]:
d = Series({"hap":1,"w":2})

In [43]:
d[:'w']

hap    1
w      2
dtype: int64

In [45]:
d[:2]

hap    1
w      2
dtype: int64

In [50]:
d

hap    1
w      2
dtype: int64

In [55]:

d.index

Index(['hap', 'w'], dtype='object')