In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
num_list = [100, 200, 300]
print(type(num_list))

num_series = Series(num_list) # create Series from list
print(type(num_series))

<class 'list'>
<class 'pandas.core.series.Series'>

In [3]:
# displaying a list:
num_list

[100, 200, 300]

In [4]:
# displaying a Series:
num_series

0    100
1    200
2    300
dtype: int64

In [5]:
num_series2 = num_series[2:]

In [6]:
num_series2

2    300
dtype: int64

In [12]:
num_series2[0]

KeyError: 0

In [7]:
s = Series({'happy':1,'worry':2,'sad':3})
s

happy    1
worry    2
sad      3
dtype: int64

In [8]:
s[:-1]

happy    1
worry    2
dtype: int64

In [24]:
s = s[1:]
s

worry    2
dtype: int64

In [25]:
s[0]

2

In [28]:
s = Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [9]:
s = s[1:]
s

worry    2
sad      3
dtype: int64

In [12]:
s = Series({0:'fds',1:'dsf',2:'fsj'})
s+Series({0:'dsa'})

0    fdsdsa
1       NaN
2       NaN
dtype: object

In [32]:
s[0]

KeyError: 0

In [33]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [34]:
[1,2,3]+2

TypeError: can only concatenate list (not "int") to list

In [35]:
s

1    2
2    3
dtype: int64

In [36]:
s>3

1    False
2    False
dtype: bool

In [37]:
[1,2,3]>3

TypeError: '>' not supported between instances of 'list' and 'int'

In [38]:
obj[s]

NameError: name 'obj' is not defined

In [39]:
s  = [1,2,3,4]

In [40]:
index = Series([True,True,False,True])

In [41]:
s[index]

TypeError: list indices must be integers or slices, not Series

In [42]:
s = Series(s)
s[index]

0    1
1    2
3    4
dtype: int64

In [43]:
Series([1,'h',2])

0    1
1    h
2    2
dtype: object

In [14]:
data = {"name": [1, "Bob", "Cindy", "Dan"],
        "score": [100, 150, 160, 120]}
df = DataFrame(data)
df

    name  score
0      1    100
1    Bob    150
2  Cindy    160
3    Dan    120

In [15]:
type(df['name'])

pandas.core.series.Series

In [16]:
df[["name","score"]]

    name  score
0      1    100
1    Bob    150
2  Cindy    160
3    Dan    120

In [18]:
df.loc[[1,2]]

    name  score
1    Bob    150
2  Cindy    160

In [19]:
nums = Series([7,8,9], index=[-1,0,1])

In [20]:
nums.loc[-1]

7

In [21]:
df.name

0        1
1      Bob
2    Cindy
3      Dan
Name: name, dtype: object

In [22]:
df['name']

0        1
1      Bob
2    Cindy
3      Dan
Name: name, dtype: object

In [25]:
df.where

<bound method NDFrame.where of     name  score
0      1    100
1    Bob    150
2  Cindy    160
3    Dan    120>

In [26]:
type(df.where)

method

In [27]:
print(df.where.__doc__)

Return an object of same shape as self and whose corresponding
entries are from self where `cond` is True and otherwise are from
`other`.

Parameters
----------
cond : boolean NDFrame, array-like, or callable
    Where `cond` is True, keep the original value. Where
    False, replace with corresponding value from `other`.
    If `cond` is callable, it is computed on the NDFrame and
    should return boolean NDFrame or array. The callable must
    not change input NDFrame (though pandas doesn't check it).

    .. versionadded:: 0.18.1
        A callable can be used as cond.

other : scalar, NDFrame, or callable
    Entries where `cond` is False are replaced with
    corresponding value from `other`.
    If other is callable, it is computed on the NDFrame and
    should return scalar or NDFrame. The callable must not
    change input NDFrame (though pandas doesn't check it).

    .. versionadded:: 0.18.1
        A callable can be used as other.

inplace : boolean, default False
    Whether to perform the operation in place on the data
axis : alignment axis if needed, default None
level : alignment level if needed, default None
errors : str, {'raise', 'ignore'}, default 'raise'
    - ``raise`` : allow exceptions to be raised
    - ``ignore`` : suppress exceptions. On error return original object

    Note that currently this parameter won't affect
    the results and will always coerce to a suitable dtype.

try_cast : boolean, default False
    try to cast the result back to the input type (if possible),
raise_on_error : boolean, default True
    Whether to raise on invalid data types (e.g. trying to where on
    strings)

    .. deprecated:: 0.21.0

Returns
-------
wh : same type as caller

Notes
-----
The where method is an application of the if-then idiom. For each
element in the calling DataFrame, if ``cond`` is ``True`` the
element is used; otherwise the corresponding element from the DataFrame
``other`` is used.

The signature for :func:`DataFrame.where` differs from
:func:`numpy.where`. Roughly ``df1.where(m, df2)`` is equivalent to
``np.where(m, df1, df2)``.

For further details and examples see the ``where`` documentation in
:ref:`indexing <indexing.where_mask>`.

Examples
--------
>>> s = pd.Series(range(5))
>>> s.where(s > 0)
0    NaN
1    1.0
2    2.0
3    3.0
4    4.0

>>> s.mask(s > 0)
0    0.0
1    NaN
2    NaN
3    NaN
4    NaN

>>> s.where(s > 1, 10)
0    10.0
1    10.0
2    2.0
3    3.0
4    4.0

>>> df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
>>> m = df % 3 == 0
>>> df.where(m, -df)
   A  B
0  0 -1
1 -2  3
2 -4 -5
3  6 -7
4 -8  9
>>> df.where(m, -df) == np.where(m, df, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
>>> df.where(m, -df) == df.mask(~m, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True

See Also
--------
:func:`DataFrame.mask`

In [29]:
df.where(df["name"]=="Bob")

  name  score
0  NaN    NaN
1  Bob  150.0
2  NaN    NaN
3  NaN    NaN

In [30]:
df.item()

AttributeError: 'DataFrame' object has no attribute 'item'

In [47]:
s[:1].item()

'fds'

In [36]:
df.score.item()

ValueError: can only convert an array of size 1 to a Python scalar

In [39]:
print(df.score.item.__doc__)

 return the first element of the underlying data as a python
        scalar

In [40]:
map = DataFrame({'code':['o','p','a'],'where':['other','Pacific','Atlantic']})
b = map['where'] == 'Atlantic'
code = map.code[b].item()

In [41]:
code

'a'

In [42]:
map.code[b]

2    a
Name: code, dtype: object

In [49]:
type(map.loc[:,'where'])

pandas.core.series.Series