In [1]:
import sqlite3

In [15]:
conn = sqlite3.connect("bus.db")
conn

In [3]:
# results = conn.execute(QUERY)

In [4]:
results = conn.execute("SELECT * FROM routes")
results

In [5]:
for row in results:
    print(row)

(0, 63, 8052, 1, 'http://www.cityofmadison.com/Metro/schedules/Route01/', 32379.426524261)
(1, 64, 8053, 2, 'http://www.cityofmadison.com/Metro/schedules/Route02/', 96906.9655714024)
(2, 65, 8054, 3, 'http://www.cityofmadison.com/Metro/schedules/Route03/', 76436.6456435859)
(3, 66, 8055, 4, 'http://www.cityofmadison.com/Metro/schedules/Route04/', 64774.1334846944)
(4, 67, 8056, 5, 'http://www.cityofmadison.com/Metro/schedules/Route05/', 61216.722661615306)
(5, 68, 8057, 6, 'http://www.cityofmadison.com/Metro/schedules/Route06/', 151142.29837020198)
(6, 69, 8058, 7, 'http://www.cityofmadison.com/Metro/schedules/Route07/', 98617.0056650761)
(7, 70, 8059, 8, 'http://www.cityofmadison.com/Metro/schedules/Route08/', 56732.757385207005)
(8, 71, 8060, 10, 'http://www.cityofmadison.com/Metro/schedules/Route10/', 113468.94088226599)
(9, 72, 8061, 11, 'http://www.cityofmadison.com/Metro/schedules/Route11/', 131900.584374629)
(10, 73, 8062, 12, 'http://www.cityofmadison.com/Metro/schedules/Route12/', 126848.63512581)
(11, 74, 8063, 13, 'http://www.cityofmadison.com/Metro/schedules/Route13/', 43490.500403546)
(12, 75, 8064, 14, 'http://www.cityofmadison.com/Metro/schedules/Route14/', 118422.609701895)
(13, 76, 8065, 15, 'http://www.cityofmadison.com/Metro/schedules/Route15/', 153051.20103618)
(14, 77, 8066, 16, 'http://www.cityofmadison.com/Metro/schedules/Route16/', 81867.73362043929)
(15, 78, 8067, 17, 'http://www.cityofmadison.com/Metro/schedules/Route17/', 25955.7854507185)
(16, 79, 8068, 18, 'http://www.cityofmadison.com/Metro/schedules/Route18/', 113588.99107823099)
(17, 80, 8069, 19, 'http://www.cityofmadison.com/Metro/schedules/Route19/', 66743.24039848169)
(18, 81, 8070, 20, 'http://www.cityofmadison.com/Metro/schedules/Route20/', 73204.5111834252)
(19, 82, 8071, 21, 'http://www.cityofmadison.com/Metro/schedules/Route21/', 39635.367330627996)
(20, 83, 8072, 22, 'http://www.cityofmadison.com/Metro/schedules/Route22/', 33344.3897186013)
(21, 84, 8073, 25, 'http://www.cityofmadison.com/Metro/schedules/Route25/', 88738.7652822743)
(22, 85, 8074, 26, 'http://www.cityofmadison.com/Metro/schedules/Route26/', 59133.5756479122)
(23, 86, 8075, 27, 'http://www.cityofmadison.com/Metro/schedules/Route27/', 90168.444006312)
(24, 87, 8076, 28, 'http://www.cityofmadison.com/Metro/schedules/Route28/', 85209.4011700225)
(25, 88, 8077, 29, 'http://www.cityofmadison.com/Metro/schedules/Route29/', 88886.48260292619)
(26, 89, 8078, 30, 'http://www.cityofmadison.com/Metro/schedules/Route30/', 38654.2893621412)
(27, 90, 8079, 31, 'http://www.cityofmadison.com/Metro/schedules/Route31/', 55760.727859503495)
(28, 91, 8080, 32, 'http://www.cityofmadison.com/Metro/schedules/Route32/', 41854.7325943162)
(29, 92, 8081, 33, 'http://www.cityofmadison.com/Metro/schedules/Route33/', 56807.448306649196)
(30, 93, 8082, 34, 'http://www.cityofmadison.com/Metro/schedules/Route34/', 20323.1733772386)
(31, 94, 8083, 35, 'http://www.cityofmadison.com/Metro/schedules/Route35/', 69124.6535413157)
(32, 95, 8084, 36, 'http://www.cityofmadison.com/Metro/schedules/Route36/', 10614.0190070559)
(33, 96, 8085, 37, 'http://www.cityofmadison.com/Metro/schedules/Route37/', 77027.8356526997)
(34, 97, 8086, 38, 'http://www.cityofmadison.com/Metro/schedules/Route38/', 102750.508965095)
(35, 98, 8087, 39, 'http://www.cityofmadison.com/Metro/schedules/Route39/', 55287.2604205011)
(36, 99, 8088, 40, 'http://www.cityofmadison.com/Metro/schedules/Route40/', 47523.6824465273)
(37, 100, 8089, 44, 'http://www.cityofmadison.com/Metro/schedules/Route44/', 36262.393519309)
(38, 101, 8090, 47, 'http://www.cityofmadison.com/Metro/schedules/Route47/', 70315.5412930508)
(39, 102, 8091, 48, 'http://www.cityofmadison.com/Metro/schedules/Route48/', 38143.7161753301)
(40, 103, 8092, 49, 'http://www.cityofmadison.com/Metro/schedules/Route49/', 81820.8232327981)
(41, 104, 8093, 50, 'http://www.cityofmadison.com/Metro/schedules/Route50/', 34991.8827402422)
(42, 105, 8094, 51, 'http://www.cityofmadison.com/Metro/schedules/Route51/', 41866.6206643254)
(43, 106, 8095, 52, 'http://www.cityofmadison.com/Metro/schedules/Route52/', 30872.7197032988)
(44, 107, 8096, 55, 'http://www.cityofmadison.com/Metro/schedules/Route55/', 60450.3875254976)
(45, 108, 8097, 56, 'http://www.cityofmadison.com/Metro/schedules/Route56/', 158777.245571078)
(46, 109, 8098, 57, 'http://www.cityofmadison.com/Metro/schedules/Route57/', 145409.01596050098)
(47, 110, 8099, 58, 'http://www.cityofmadison.com/Metro/schedules/Route58/', 63799.3184163637)
(48, 111, 8100, 59, 'http://www.cityofmadison.com/Metro/schedules/Route59/', 70401.6984774485)
(49, 112, 8101, 63, 'http://www.cityofmadison.com/Metro/schedules/Route63/', 34906.1489035572)
(50, 113, 8102, 67, 'http://www.cityofmadison.com/Metro/schedules/Route67/', 34073.6194342043)
(51, 114, 8103, 68, 'http://www.cityofmadison.com/Metro/schedules/Route68/', 53549.2316608108)
(52, 115, 8104, 70, 'http://www.cityofmadison.com/Metro/schedules/Route70/', 133579.86070132098)
(53, 116, 8105, 71, 'http://www.cityofmadison.com/Metro/schedules/Route71/', 118955.674334282)
(54, 117, 8106, 72, 'http://www.cityofmadison.com/Metro/schedules/Route72/', 151997.510028787)
(55, 118, 8107, 73, 'http://www.cityofmadison.com/Metro/schedules/Route73/', 62933.252396269294)
(56, 119, 8108, 75, 'http://www.cityofmadison.com/Metro/schedules/Route75/', 125693.42893719401)
(57, 120, 8109, 78, 'http://www.cityofmadison.com/Metro/schedules/Route78/', 95826.27721849439)
(58, 121, 8110, 80, 'http://www.cityofmadison.com/Metro/schedules/Route80/', 31831.761009305)
(59, 122, 8111, 81, 'http://www.cityofmadison.com/Metro/schedules/Route81/', 26536.8005908652)
(60, 123, 8112, 82, 'http://www.cityofmadison.com/Metro/schedules/Route82/', 23287.9801733942)
(61, 124, 8113, 84, 'http://www.cityofmadison.com/Metro/schedules/Route84/', 20681.9583339527)

In [6]:
# EXAMPLE 1: total ridership in Madison, using execute
results = conn.execute("SELECT DailyBoardings FROM boarding")
results

In [7]:
total = 0
for row in results:
    total += row[0]
total

55987.17999999951

In [8]:
5 * (3*3)

45

In [9]:
5 * (3*3,)

(9, 9, 9, 9, 9)

In [10]:
# EXAMPLE 2: which route goes farthest west (use pandas)

In [11]:
import pandas as pd

In [12]:
# pd.read_sql(QUERY, CONNECTION)

In [34]:
query = """
SELECT SUM(Route), StopID
FROM boarding
WHERE StopID < 10
"""
df = pd.read_sql(query, conn)
df

   SUM(Route)  StopID
0          80       5

In [35]:
query = """
SELECT SUM(Route), StopID
FROM boarding
GROUP BY StopID

"""
df = pd.read_sql(query, conn)
df

      SUM(Route)  StopID
0             80       5
1            243      10
2             81      25
3             80      39
4             81      45
5             27      47
6            243      49
7             27      50
8            161      52
9             81      53
10            27      54
11            81      56
12           161      60
13            80      61
14            82      68
15            82      70
16            80      73
17            80      77
18           150      87
19            81      89
20            81      96
21           163      99
22           695     100
23            75     104
24            62     107
25            52     113
26            66     115
27            62     121
28            49     124
29           253     133
...          ...     ...
1873          20    9817
1874          26    9822
1875          26    9826
1876          26    9829
1877          37    9837
1878           6    9842
1879          30    9844
1880          20    9847
1881          20    9849
1882           6    9857
1883          36    9860
1884          26    9874
1885          63    9880
1886          30    9892
1887           6    9897
1888          25    9900
1889          26    9901
1890          36    9917
1891          40    9918
1892          62    9928
1893          26    9932
1894           6    9939
1895          30    9951
1896          26    9957
1897          30    9967
1898           6    9975
1899           6    9977
1900          26    9984
1901           6    9993
1902          50    9996

[1903 rows x 2 columns]

In [34]:
df.DailyBoardings

0    59.31
Name: DailyBoardings, dtype: float64

In [37]:
query = """
SELECT Lon, Lat
FROM boarding
"""
df = pd.read_sql(query, conn)

In [40]:
list(df.mean())

[-89.4024664433534, 43.075374427492534]

In [ ]:
query = """
SELECT  
"""