In [14]:
import time
import requests
import pandas as pd
from pandas import DataFrame, Series

In [2]:
time.time()

1555697527.264771

In [3]:
t1 = time.time()
# some code we want to measure
t2 = time.time()
t2 - t1

4.1961669921875e-05

In [9]:
t1 = time.time()

total = 0
limit = 1000000 # try changing this
for i in range(limit):
    total += i

t2 = time.time()

print("TOTAL:", total)
milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

TOTAL: 499999500000
ms: 103.3177375793457

In [11]:
t1 = time.time()

# code to measure
r = requests.get("https://tyler.caraza-harter.com/hello.txt")
r.raise_for_status()
data = r.text

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 213.20295333862305

In [12]:
t1 = time.time()

# code to measure
f = open("hello.txt", "w", encoding="utf-8")
f.write(data)
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 0.9589195251464844

In [13]:
t1 = time.time()

# code to measure
f = open("hello.txt", encoding="utf-8")
data = f.read()
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 0.7817745208740234

In [15]:
DataFrame([[1,2], [3,4]])

   0  1
0  1  2
1  3  4

In [16]:
DataFrame([{"x":1, "y":2},
           {"x":3, "y":4}])

   x  y
0  1  2
1  3  4

In [17]:
DataFrame({"x":[1,3],
           "y":[2,4]})

   x  y
0  1  2
1  3  4

In [18]:
DataFrame({"x":{"A":1,"B":3},
           "y":{"A":2,"B":4}})

   x  y
A  1  2
B  3  4