In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [4]:
nums = Series([7,8,9], index=[-1,0,1])
x = Series({"A":1, "B":2, "C":3})
y = Series({"A":2, "C":12, "D":4})

In [8]:
nums[-1]

7

In [9]:
nums.iloc[-1]

9

In [10]:
x/y

A    0.50
B     NaN
C    0.25
D     NaN
dtype: float64

In [12]:
x

A    1
B    2
C    3
dtype: int64

In [16]:
s = Series(["A", "B", "C", "D"])
letters = Series(["x", "y", "z"], index=[1, 0, 3])

In [17]:
s[-1]

KeyError: -1

In [18]:
s[-2:]

2    C
3    D
dtype: object

In [20]:
s+s

0    AA
1    BB
2    CC
3    DD
dtype: object

In [21]:
letters[0]

'y'

In [22]:
s+letters

0     Ay
1     Bx
2    NaN
3     Dz
dtype: object

In [23]:
s[1:]+s[:-1]

0    NaN
1     BB
2     CC
3    NaN
dtype: object

In [24]:
v = Series([-1, 1, 200, 191, 4])

In [25]:
v<0

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [26]:
v*v ==1

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [27]:
v[v>100]

2    200
3    191
dtype: int64

In [28]:
v[v%2 == 0]

2    200
4      4
dtype: int64

In [29]:
v[(v>0) & (v<100)]

1    1
4    4
dtype: int64

In [30]:
map = DataFrame({
 "code": ["o","p","a"],
 "where": ["other","Pacific","Atlantic"]
})

In [31]:
map["code"]

0    o
1    p
2    a
Name: code, dtype: object

In [32]:
map.code

0    o
1    p
2    a
Name: code, dtype: object

In [33]:
type(map.code)

pandas.core.series.Series

In [34]:
type(map.where)

method

In [36]:
tab = DataFrame({"name":["alice","bob","cindy","dan","eve"],
                "year":[2016,2016,2017,2018,2018],
                "type":["tornado","hurricane","tornado","tornado","hurricane"],
               "speed":[100,200,150,300,250]})

In [37]:
tab.year.mean()

2017.0

In [38]:
mean(tab.year)

NameError: name 'mean' is not defined

In [39]:
sum(tab.year)

10085

In [40]:
type(tab.year)

pandas.core.series.Series

In [41]:
tab.year == 2018

0    False
1    False
2    False
3     True
4     True
Name: year, dtype: bool